{{> layout/header}}
<style>
    .my-border {
        border: 1px solid rgb(0, 0, 0);
        padding: 40px;
        padding-top: 0;
        margin-top: 0;
    }
</style>

<div class="mx-auto width-53 pt-140">
    <div class="container d-flex ft-18">
        <form style="width: 100%;">
            <div class="">
                <div class=" mb-3 ft-18">
                {{#jobs}}
                    <div class="card-header resume-info-hdtitle mt-3">기업 정보</div>
                    <hr>

                    <div class="card-body d-flex">
                        <div class="my-border resume-info-img col-3" style="text-align: center;">
                            <img class="" src="/images/logo.png" alt="" srcset="" style="width: 80%; height: auto;"
                                 id="photo">
                        </div>

                        <div class="resume-info-txt ml-50 mt-2">
                            <table>
                                <tr>
                                    <th>기업명</th>
                                    <td>{{compName}}</td>
                                </tr>
                                <tr>
                                    <th>공고제목</th>
                                    <td style="padding-left: 10px;">{{title}}</td>
                                </tr>
                                <tr>
                                    <th>연락처</th>
                                    <td>{{phone}}</td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td>{{address}}</td>
                                </tr>
                                <tr>
                                    <th>근무지역</th>
                                    <td style="padding-left: 10px;">{{area}}</td>
                                </tr>
                            </table>

                        </div>
                    </div>

                    <div class="card border-light mb-3 mt-3">
                        <div class="card-header resume-info-hdtitle">학력 사항</div>
                        <div class="card-body">{{edu}}</div>
                    </div>

                    <div class="card border-light mb-3">
                        <div class="card-header resume-info-hdtitle">경력 사항</div>
                        <div class="card-body">{{career}}</div>
                    </div>

                    <div class="card border-light mb-3">
                        <div class="card-header resume-info-hdtitle">필요 기술</div>
                        <div class="card-body">
                            <div class="my-3" style="background-color: #f8f8f8; padding: 20px">
                                <div class="new-skill-box">
                                    {{#skillList}}
                                        <div class="{{color}}">{{name}}</div>
                                    {{/skillList}}
                                </div>
                            </div>
                            <div class="card border-light mb-3">
                                <div class="card-header">본문</div>
                                <div class="card-body">{{content}}</div>
                            </div>

                            <div class="card border-light mb-3">
                                <div class="card-header">링크</div>
                                <div class="card-body">
                                    <div class="form-group mb-2">
                                        <a href="#" class="form-control">{{homepage}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/jobs}}
            </div>
        </form>


        <!--버튼-->
        <div class="col-3 ml-50">
            <div id="rButton" style="width: 12em;">
                <br>
                <div class="row p-1">
                    <div>
                        <div id="scrap-${rDto.resumeId}-render">
                            <div id="scrap-${rDto.resumeId}-remove">
                                {{#scrap.isScrap}}
                                    <form action="/comp/scrap/{{scrap.id}}/delete" method="post">
                                        <input type="hidden" name="resumeId" value="{{resume.id}}">
                                        <button type="submit" class="btn btn-mint w-100 mb-10">스크랩 취소</button>
                                    </form>
                                    <button id="scrap-${rDto.resumeId}" type="button" class="btn btn-outline-mint w-100">지원하기</button>
                                {{/scrap.isScrap}}
                                {{^scrap.isScrap}}
                                    <form action="/comp/scrap/save" method="post" enctype="application/x-www-form-urlencoded">
                                        <input type="hidden" name="resumeId" value="{{id}}">
                                        <button type="submit" class="btn btn-mint w-100 mb-10">스크랩</button>
                                    </form>
                                    <button id="scrap-${rDto.resumeId}" type="button" class="btn btn-outline-mint w-100">지원하기</button>
                                {{/scrap.isScrap}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{{> layout/footer}}
