{{> layout/header}}

<style>
    .nav-link {
        color: #222;
    }
</style>

<div class="mx-auto pt-80">
        <div class="new-flex-wrapper">
            <div class="new-container">
                <!--지원 및 제안-->
                {{> layout/sidebar}}


                <!--지원 테이블-->
                <div class="my-4  layer2-right-container">
                    <div>
                        <h6>
                            <b>지원내역</b>
                        </h6>
                        <table class="table">
                            <thead>
                            <tr class="table-success text-center">
                                <th scope="col" style="width:10%">No.</th>
                                <th scope="col" style="width:25%">공고명</th>
                                <th scope="col" style="width:25%">이력서</th>
                                <th scope="col" style="width:20%">포지션</th>
                                <th scope="col" style="width:20%">상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <th>1</th>
                                <td><a href="/jobs/jobsDetail"
                                       onclick="window.open(this.href, '_blank', 'width=1920,height=1080,toolbars=no,scrollbars=no, resizable=no'); return false;">
                                    공고명 1</a></td>
                                <td><a href="/resume/resumeDetail"
                                       onclick="window.open(this.href, '_blank', 'width=1920,height=1080,toolbars=no,scrollbars=no, resizable=no'); return false;">
                                    이력서 제목 1</a></td>
                                <td>백엔드</td>
                                <td>
                                    <div class="badge btn-mint p-2">
                                        <!--대기중 합격 불합격 상태표시 해야함-->
                                        합격
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <br>
                        <hr>

                        <div class="my-4 pe-5" style=" width:100%; padding:0 !important;">
                            <div>
                                <h6><b>제안 내역
                                    <div class="badge count-color px-2 " style="font-weight: 900; font-size: 16px;">
                                    </div>
                                </b></h6>
                                <table class="table" style="width:100%">
                                    <thead>
                                    <tr class="table-success text-center">
                                        <th scope="col" style="width:10%">No.</th>
                                        <th scope="col" style="width:25%">회사명</th>
                                        <th scope="col" style="width:25%">공고명</th>
                                        <th scope="col" style="width:20%">포지션</th>
                                        <th scope="col" style="width:20%">상태</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr class="text-center">
                                        <td>1</td>
                                        <td>회사명</td>
                                        <td><a href="/jobs/jobsDetail"
                                               onclick="window.open(this.href, '_blank', 'width=1920,height=1080,toolbars=no,scrollbars=no, resizable=no'); return false;">
                                            공고명 1</a></td>
                                        <td>백엔드</td>
                                        <td>
                                            <div id="state-${sDto.suggestId}">
                                                <div id="state-btn">
                                                    <div class="badge btn-mint p-2">수락</div>
                                                    <!--
                                                <div class="badge bg-secondary p-2">대기중</div>
                                                <div class="badge bg-danger p-2">거절</div>
                                                -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- row -->
</div>
{{> layout/footer}}