{{> layout/compheader}}

<div style="margin-top: 130px; min-height: 600px;" class="mx-auto">
    <div>
        <div style="display: flex; justify-content: center; max-width: 1600px; margin: 0 auto;">
            {{> layout/sidebar}}

            <div id="content" class="my-4 layer2-right-container" style="flex: 0 0 auto; width: calc(100% - 300px);">
                <div class="components">
                    <div class="components-div p-tb-10 d-flex justify-content-between">
                        <div class="font">전체</div>
                    </div>
                    <div class="components-div">
                        <table class="table table-hover offer-table scroll">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 5%;">No</th>
                                <th scope="col" style="width: 40%;">현재 열린 공고</th>
                                <th scope="col" style="width: 15%;">포지션</th>
                                <th scope="col" style="width: 15%;">경력</th>
                                <th scope="col" style="width: 25%;">공고관련</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#jobList}}
                                <tr class="offer-table">
                                    <td>{{id}}</td>
                                    <td>
                                        <div>{{title}}</div>
                                        <div class="new-skill-box">
                                            {{#skillList}}
                                                <div class="{{color}}">{{name}}</div>
                                            {{/skillList}}
                                        </div>
                                    </td>
                                    <td>{{task}}</td>
                                    <td>{{career}}</td>
                                    <td class="d-flex justify-content-between ">
                                        <div class="new-create-button">
                                            <a href="/comp/{{sessionComp.id}}/apply?jobsId={{id}}">
                                            <button type="button" class="btn btn-mint offer-table-btn">제안한 이력서</button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {{/jobList}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="components" style="height: 50px;"></div>
                <div class="components">
                    <div class="font">제안자현황</div>
                    <div>
                        <hr>
                    </div>
                    <div>
                        <table class="table table-hover offer-table scroll">
                            <thead>
                            <tr>
                                <th class="center-align" scope="col" style="width: 5%;">No</th>
                                <th class="center-align" scope="col" style="width: 10%;">이름</th>
                                <th class="center-align" scope="col" style="width: 30%;">이력서제목</th>
                                <th class="center-align" scope="col" style="width: 10%;">경력</th>
                                <th class="center-align" scope="col" style="width: 35%;">주요 기술</th>
                                <th class="center-align" scope="col" style="width: 10%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#offerList}}
                                <tr class="offer-table">
                                    <th scope="row">{{id}}</th>
                                    <td>{{myName}}</td>
                                    <td>{{title}}</td>
                                    <td>
                                        <div class="new-skill-box">
                                            {{#skillList}}
                                                <div class="{{color}}">{{name}}</div>
                                            {{/skillList}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="new-create-button">
                                            <a href="/resume/resumeDetail/{{id}}"
                                               onclick="window.open(this.href, '_blank', 'width=1920,height=1080,toolbars=no,scrollbars=no, resizable=no'); return false;">
                                                <button type="button" class="btn btn-mint offer-table-btn">상세보기</button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {{/offerList}}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">비밀번호 인증</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp"
                               onkeypress="if(event.keyCode=='13'){event.preventDefault(); checkPS(`${compSession.compId}`);}">
                        <div id="passwordHelp" class="form-text">현재 비밀번호를 입력해 주세요.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                        onclick="passwordCheckBtn(`${compSession.compId}`)">Check
                </button>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}
